.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1C1E53;
    color: #ffffff;
    padding: 50px 10%;
    height: 536px;
}

.info-content {
    max-width: 50%;
}

.info h1 {
    font-size: 54px;
    line-height: 74px;
    margin-bottom: 15px;
}

.info p {
    font-size: 16px;
    margin-bottom: 20px;
    opacity: 0.7;
    margin-right: 45px;
}

.buttons {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.primary-button {
    background-color: #FCD980;
    color: #1B1C2B;
    border: none;
    font-size: 18px;
    line-height: 32px;
    cursor: pointer;
    width: 230px;
    height: 62px;
    cursor: pointer;
    border-radius: 41px;
    display: inline-block;
    text-align: center;
    align-content: center;
    text-decoration: none;
}

.primary-button:hover {
    background-color: #FDE4A6;
    color: #1B1C2A;
}

.pricing-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    line-height: 28px;
}

.pricing-link:hover {
    text-decoration: underline;
}

.info-image img {
    width: 638px;
    max-width: 100%;
    margin-left: 25px;
}

.how-we-work {
    text-align: left;
    padding: 50px 7%;
    background-color: #F4F6FC;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.how-we-work-content {
    max-width: 40%;
}

.how-we-work h2 {
    font-size: 48px;
    margin-bottom: 10px;
    color: #282938;
}

.how-we-work-content p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #282938;
    margin-right: 90px;
    line-height: 28px;
    opacity: 0.7;
}

.cta {
    color: #4c5fd5;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

.cta:hover {
    text-decoration: underline;
}

.work-steps {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 60%;
}

.step {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.step p {
    font-size: 16px;
    color: #282938;
    opacity: 0.7;
}

.step h3 {
    font-size: 32px;
}

.step-number {
    background-color: #4c5fd5;
    color: white;
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
}

.projects {
    padding: 60px 10%;
    background-color: #ffffff;
    text-align: left;
}

.projects-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects-heading a {
    color: #282938;
    text-decoration: none;
    font-size: 16px;
}

.projects-heading a:hover {
    text-decoration: underline
}

.projects h2 {
    font-size: 48px;
    margin-bottom: 40px;
    margin-top: 0px;
    color: #282938;

}

.project-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 40px;
}

.left-project {
    grid-area: 1 / 1 / 5 / 9;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.second-project {
    grid-area: 3 / 8 / 5 / 11;
}

.first-project {
    grid-area: 1 / 8 / 3 / 11;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.project img {
    width: 80%;
    height: 100%;
    border-radius: 10px;
}

.first-project img,
.second-project img {
    width: 100%;
}

.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 37%;
    height: 100%;
    background: linear-gradient(329.39deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    border-radius: 10px;
}

.first-project .project-overlay {
    width: 100%;
}

.project-overlay h3 {
    font-size: 24px;
}

.project-overlay a {
    color: #FCD980;
    text-decoration: none;
}

.project-overlay a:hover {
    text-decoration: underline;
}

.faq-section {
    padding: 50px 10%;
    background-color: #F4F6FC;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 40px;
    align-items: start;
}

.faq-header {
    font-size: 38px;
    color: #1a1a3d;
    margin-bottom: 10px;
}

.faq-contact {
    color: #2405F2;
    text-decoration: none;
}

.faq-contact:hover {
    text-decoration: underline;
}

.question {
    font-size: 18px;
    font-weight: bold;
}

.faq-list {
    margin-top: 0;
}

.faq-item {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    cursor: pointer;
}

.faq-question {
    font-weight: bold;
    cursor: pointer;
    color: #2D2D2D;
    display: flex;
    align-items: center;
}

.faq-question span:first-child {
    color: #6C63FF;
    margin-right: 10px;
}

.faq-question span:last-child {
    margin-left: auto;
    color: #6C63FF;
    transition: transform 0.3s;
}

.faq-number {
    color: #6C63FF;
    font-weight: bold;
    margin-right: 10px;
}

.faq-toggle {
    font-size: 1.2rem;
    cursor: pointer;
    color: #6C63FF;
}

.faq-answer {
    display: none;
    margin-top: 10px;
    color: #555;
    margin-left: 30px;
}

.faq-item.active .faq-answer {
    display: block;
}

.contacts {
    padding: 50px 100px;
}

.section-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #1C1E53;
    color: white;
    height: 600px;
}

.left-section,
.right-section {
    flex: 1;
    padding: 20px;
}

.left-section {
    background: url('../img/writing.png');
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: white;
    position: relative;
    overflow: hidden;
}

.left-content {
    max-width: 400px;
    z-index: 2;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(329.39deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.2) 103.96%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    border-radius: 10px;
    z-index: 1;

}

.left-section h1 {
    font-size: 48px;
}

.left-section p {
    font-size: 16px;
}

.right-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container {
    max-width: 400px;
    width: 100%;
}

.form-container h2 {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 8px;
}

.form-container p {
    font-size: 14px;
}

.form-container input {
    width: 100%;
    padding: 10px;
    height: 30px;
    margin: 10px 0;
    padding: 13px 15px;
    border-radius: 5px;
    border: solid 1px rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.2);
    font-size: 16px;
    background-color: #1C1E53;
}

.form-container button {
    width: 106%;
    background-color: #FCD980;
    color: #1B1C2B;
    border: none;
    font-size: 18px;
    line-height: 32px;
    cursor: pointer;
    height: 62px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 41px;
    display: inline-block;
    text-align: center;
    align-content: center;
    text-decoration: none;
}

.form-container button:hover {
    background-color: #FDE4A6;
    color: #1B1C2A;
}

.contact-link {
    margin-top: 50px;
    text-align: center;
}

.contact-link a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.contact-link a:hover {
    text-decoration: underline;
}