.team-member {
    background: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    width: 200px;
}

.team-member img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.team-member h3 {
    font-size: 19px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.team-member p {
    font-size: 16px;
    color: #6b7280;
}